
body{
    margin: 0;
    font-family:'Poppins', sans-serif;;
}
.nav-bar ul{  
    list-style: none;
    float: right;
    display: inline-flex;
}
.nav-bar ul li{
    margin-right:20px;
    font-size: 20px;
   
}

.nav-bar{
width: 90%;
height: 150px;
}


section{
    height: 900px;
}
h1{
    font-size: 70px;
}
.hello-text{
    color: rgb(54, 57,88);
}
.name-text{
    color: #ff8367;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 3%; ;
}
.half-width img{
    width: 100%;
}

 .link-button{
    text-transform: capitalize;
    text-decoration: none;
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 22px;
    padding: 20px 30px;
    border-radius: 5px;
    color: white;
    margin-top: 50px;
    font-weight: 700;
 }
 .h1{
     padding: 0;
     margin: 0;
 }
 .para{
     color: dimgray;
     margin-top: 0;
     margin-bottom: 70px;

 }
 .middle-section{
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #f8f9fc;
    padding: 100px;
 }
 .latest-text{
     color: #f46060;
 }
 .working{
     color: #363958;
 }

 .grand-parent{
     width: 90%;
     text-align: center;
     display: flex;
     justify-content: space-between;
     
 }
 .parent{
     float: left;
     width: 30%;
     margin: 20px;
     padding: 15px;
     border-radius: 20px
     
  
    
 }
.parent img{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
    border-radius: 20px;
    
    
}
#shadow{
    box-shadow: 4px 2px 15px 2px rgba(153,153,153,0.7);  
}
.parent h2{
    text-align: left;
    padding: 5px;
    font-size: 22px;
    color: #363958;
}
.parent p{
    text-align: left;
    padding: 5px;
    color: gray;
}

.inquiry{
display: flex;
height: 300px;
justify-content: space-around;
background-size: cover;
display: block;
margin-left: 140px;
border-radius: 20px;
width: 80%;
text-align: center;
background-image: url("/shapes/Group_33094_1.png");
background-repeat: no-repeat;
} 
.inquiry-background{
    width: 100%;
}

.work-inquiry{
    width: 50%;
    float: left;
    margin: 50px;

}
.work-inquiry h1{
color: white;
font-size: 60px;
float: left;

}
.button{
    float: right;
    margin-top: 130px;
    margin-right: 108px;
}
.chat-button{
    text-decoration: none; 
    font-size: 22px;
    padding: 20px 30px;
    border-radius: 5px;
    color: white;
    margin-top: 50px;
    font-weight: 700;
    background: linear-gradient(to bottom, #ff5e62, #ff9966);
}

.footer-section{
    text-align: center;
    height: 200px;
    margin-top: 60px;
    margin-bottom: 40px;
}
.footer-section ul{
list-style: none;
display: inline-flex;
}
.footer-section ul li{
margin-right:20px;
font-size: 20px;
}
.stay-text{
    color: #696871;
    margin: 10px;
}

.gmail-text{
    color: #363658;
    margin: 10px;
    font-size: 36px;
}
.footer-section ul li img{
width: 70px;
}


/*-----------------------------------------------------*/
.extra-features{
    width: 100%;
    text-align: center;
}
.grand-parent2{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    
}